[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-dotenv = "*"
dj-database-url = "*"
django-jazzmin = "*"

[dev-packages]
colorlog = "*"
django-livereload-server = "*"
django-extensions = "*"
graphviz = "*"
ipykernel = "*"
pydot = "*"
pylint = "*"
pylint-django = "*"

[requires]
python_version = "*"
